*{box-sizing: border-box;}
body{font-family: Verdana, Geneva, Tahoma, sans-serif;}
h1{text-transform: uppercase;
  text-align: center;
  font-size: 50px;font-weight: 100; }

  .portfolio{ 
    
    gap: 2px;
    max-width: 75%;
    height: 100%;
    padding: 0;
    border:solid green 5px;
    border-radius: 10px;
    position: relative;
    left:10%;
    

    
}

a {text-decoration: none;
    margin-top: 5px;
    height: 50%;
    align-self: center;
    font-size: x-large;
   
    }

a:hover{background-color: red;color:aliceblue}
.box{

    width:50%;
    height:50%;
    margin:5px;
    border:solid red 2px;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    position: relative;
    left:27.5%;
    
    }

    .one, .three{display:flex;
        flex-direction:row;
        justify-content: space-between;}

    .box.one>a{margin-left:15%;}
    .box.three>a{margin-left:15%;}

    .box>a{margin-left:25%;}
    .flexpic{margin-left:90% ; border:solid black 2px;}
    

img{
    width:250px;
    height:200px;
    border-radius: 5px;
    border:solid 2px black;
    margin-top: 10px;
    

}